HOST=127.0.0.1
PORT=4000

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=change_this_db_password
DB_NAME=myteacher_crm

JWT_ACCESS_SECRET=change_this_access_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_DAYS=30

TYPEORM_SYNC=true
TYPEORM_LOGGING=false
SEED_DEMO=false
